#wrapper{
    height: 68vh;
}
.jumbotron{
    background-color: #0dc3da;
    height: 12vh;
}
p{
  
    color: #1111da;
    font-size: 10vh;
    display: inline;
    text-align: center;
    margin-left: 88vh;

}
a{
    color: #152ca5;
    font-size: 2vh;
}
button{
    background-color: #adadca;
    height: 6vh;
    width: 7vw;
    border-radius: 13%;
}
