<div id="details">
    <h1>{{book.subtitle}}</h1>
    <h3>{{book.subtitle}}</h3>
    <label>authors</label>
    <p>{{book.authors}}</p>
    <label>publisher:</label>
    <p>{{book.publisher}}</p>
    <label>publishedDate:</label>
    <p>{{book.publishedDate}}</p>
    <label>description:</label>
    <p>{{book.description}}</p>
    <label>pageCount:</label>
    <p>{{book.pageCount}}</p>

  <button id="cart" *ngIf="user" (click)="AddToCart()">add to your cart</button>
  <button id="back" (click)="backToProduct()">back to product</button>
</div>