
<div class="wrapper">
  <div class="products category">
    <ul class="">
      <li>
        <div class="wrapimg">
          <img src="https://www.comparison.com.au/system/image_library/22181/Samsung_EC-ST500.jpg">
          <div class="addPro">
            <button (click)="details()">view details </button>
          </div>
        </div>
        <div class="titlePro">
          <a href="javascript:;">{{book['volumeInfo'].title}}</a>
          <p class="descTitle">Ingormations</p>
          <p>{{book['volumeInfo'].description}}</p>
        </div>
      </li>
    </ul>
  </div>
