<!-- <div *ngIf="user;else usernamedefault">
    <p>user.username</p>
</div>
<ng-template #usernamedefault>hello guest</ng-template> -->
<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
              <img ng-src="http://www.gravatar.com/avatar" alt="Description" />
              <p *ngIf="user">Hello {{user.firstName}}</p>
              <p *ngIf="!user">Hello user</p>
              <a routerLink="/account" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">my-account</a>
              <a  routerLink="/products" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">products</a>
              <a *ngIf="user" routerLink="/cart" style="padding-bottom: 20px; padding-top: 20px;" class="mat-icon material-icons">my-cart</a>
           
          </div>
      </div>
  </div>
</div>


